.header {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    height: 8%;
    align-content: center;
  }
  
  .header-text {
    flex-grow: 1;
    text-align: center;
    color: black;
    font-weight: bold !important;
    font-size: large !important;
  }
  
  .logout_button {
    color: black !important;
    font-size: medium;
    width: 8% !important;
    background-color: white !important;
    border: 2px solid black !important;
  }
  